{% extends "::Emails/base.html.twig" %}

{% block body %}

    <p>Bonjour {{ first_name }} {{ last_name }} !</p>

    <p>Tu as un nouveau devoir : {{ devoir.titre }} pour le {{ ue }} / {{ groupe }}</p>

    {#<p>Tu peux retrouver toutes les informations de ce devoir via <a href={{ url('show_devoir') }}>ce lien</a>.</p>#}

    <p> A rendre pour le : {{ devoir.date_a_rendre|date('Y-m-d') }}</p>
{% endblock %}