<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Test{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/utils.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icons.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<main>

    {% block body %}
        <nav>
            <h1 class="text-center">MiageDepot</h1>
            {% block menu %}
                {{ knp_menu_render('DepotBundle:Builder:mainMenu') }}
            {% endblock %}
            <details>
                {% set notification_unseen = mgilet_notification_unseen_count(notifiableInterface) %}
                <summary>Notifications {{ notification_unseen }}</summary>
                {% if (notification_unseen != 0) %}
                    <form action="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notifiableNotifications|first.notifiableEntity) }}"
                          method="post">
                        <button type="submit">Tout marquer comme lu</button>
                    </form>
                {% endif %}
                <ul>
                    {% for notifiableNotification in notifiableNotifications %}
                        <li>
                            {% if notifiableNotification.seen %}
                                {{ notifiableNotification.notification }}
                                <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', notifiableNotification.notifiableEntity, notifiableNotification.notification) }}"
                                      method="post">
                                    <button type="submit">Marquer comme non lu</button>
                                </form>
                            {% else %}
                                <b>{{ notifiableNotification.notification }}</b>
                                <form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', notifiableNotification.notifiableEntity, notifiableNotification.notification) }}"
                                      method="post">
                                    <button type="submit">Marquer lu</button>
                                </form>
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>
            </details>
            <div class="logout-zone">
                <a href="{{ path("fos_user_security_logout") }}"><i class="icon-exit"></i> Déconnexion</a>
            </div>
        </nav>
        <section>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
            {% endfor %}
            {% block main %} {% endblock %}
        </section>
    {% endblock %}
</main>


{% block javascripts %}{% endblock %}
</body>
</html>
