{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<h2>Demander la création d'un compte Enseignant</h2>
<p>
    <em>Votre demande sera transmise à l'administrateur, qui pourra valider votre compte. Si votre compte est validé, vous recevrez alors
    un e-mail vous indiquant vos identifiants temporaires.</em>
</p>
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
</div>

<div class="form-group">
    {{ form_label(form.first_name) }}
    {{ form_errors(form.first_name) }}
    {{ form_widget(form.first_name) }}
</div>

<div class="form-group">
    {{ form_label(form.last_name) }}
    {{ form_errors(form.last_name) }}
    {{ form_widget(form.last_name) }}
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
</div>

<div class="form-group">
    {{ form_label(form.plainPassword.second) }}
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>

<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
