{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        if($("#{{ form.compte.vars.id }}").val() == "ROLE_ENSEIGNANT")
        {
            $("#{{ form.ues.vars.id }}").attr("required", "required");
            $("#{{ form.ues.vars.id }}").parent().show();
        }
        else {
            $("#{{ form.ues.vars.id }}").parent().hide();
            $("#{{ form.ues.vars.id }}").removeAttr("required");
            $("#{{ form.ues.vars.id }}").val("");
        }
        $("#{{ form.compte.vars.id }}").on("change", function(){
            var flag = false;

            if($(this).val() == "ROLE_ENSEIGNANT")
            {
                flag = true;
            }

            if(flag)
            {
                $("#{{ form.ues.vars.id }}").attr("required", "required");
                $("#{{ form.ues.vars.id }}").parent().show();
            }
            else {
                $("#{{ form.ues.vars.id }}").parent().hide();
                $("#{{ form.ues.vars.id }}").removeAttr("required");
                $("#{{ form.ues.vars.id }}").val("");
            }
        });
    </script>
{% endblock %}

{% block body %}

    <div class="login-form-main">
        {{ form_start(form, {'method': 'post', 'action': path('user_demandecompte'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ flashMessage }}
        {% endfor %}

        <h2>Demander la création d'un compte</h2>
        <p>
            <em>Votre demande sera transmise à l'administrateur, qui pourra valider votre compte. Si votre compte est validé, vous recevrez alors
                un e-mail vous indiquant vos identifiants temporaires.</em>
        </p>

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.first_name) }}
            {{ form_errors(form.first_name) }}
            {{ form_widget(form.first_name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.last_name) }}
            {{ form_errors(form.last_name) }}
            {{ form_widget(form.last_name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.compte) }}
            {{ form_errors(form.compte) }}
            {{ form_widget(form.compte) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ues) }}
            {{ form_errors(form.ues) }}
            {{ form_widget(form.ues) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}