{% extends 'admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}
{% block title %}
    Import
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        {% for message in app.flashes('error') %}
            toastr.error("{{ message }}", "Une erreur s'est produite");
        {% endfor %}
        {% for message in app.flashes('success') %}
        toastr.success("{{ message }}", "Fin de l'import des données");
        {% endfor %}
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Administration des utilisateurs</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="item">
                    <h3>Importer un fichier</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
