<table>
    <thead>
    <tr>
        <th>UE</th>
        <th>Enseignant</th>
        <th>Nom du devoir</th>
        <th>Groupe</th>
        <th>Date de rendu</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for devoir in data %}
    <tr>
        <td>
            {{ devoir.ue }}
        </td>
        <td>
            {{ devoir.user.firstName }} {{ devoir.user.lastName }}
        </td>
        <td>
            {{ devoir.titre }}
        </td>
        <td>
            {{ dump(devoir.groupe) }}
        </td>
        <td>
            {{ devoir.date_rendu|date("d/m/Y H:i") }}
        </td>
        <td>
            <span class="badge success">Rendu le [TODO]</span>
        </td>
        <td>
            <a href="{{ path("show_devoir", {'devoir': devoir.id} ) }}">Détails</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>