
        <table id="liste_devoirs">
            <thead>
            <tr>
                <th>UE</th>
                <th>Enseignant</th>
                <th>Nom du devoir</th>
                <th>Date de création</th>
                <th>Date de rendu</th>
                <th>Nombre de groupes constitués</th>
                <th>Rendus d'étudiants</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for devoir in data %}
                <tr>
                    <td>
                        {{ devoir.ue.nom }}
                    </td>
                    <td>
                        {{ devoir.user.firstName }} {{ devoir.user.lastName }}
                    </td>
                    <td>
                        {{ devoir.titre }}
                    </td>
                    <td>
                        {{ devoir.created|date("d/m/Y") }}
                    </td>
                    <td>
                        {% if devoir.min_date_a_rendre is defined %}
                            {{ devoir.min_date_a_rendre|date("d/m/Y") }} - {{ devoir.max_date_a_rendre|date("d/m/Y") }}
                        {% elseif devoir.unique_date_a_rendre is defined %}
                            {{ devoir.unique_date_a_rendre|date("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {{ devoir.nombre_groupes_projet }}
                    </td>
                    <td>
                        {{ devoir.users_status['users_render'] }}
                        / {{ devoir.users_status['users_out']|length + devoir.users_status['users_in']|length }}
                    </td>

                    <td>
                        <a href="{{ path("show_devoir", {'devoir': devoir.id} ) }}">Détails</a> /
                        <a href="{{ path("edit_devoir", {'id': devoir.id} ) }}">Éditer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
