<table>
    <thead>
    <tr>
        <th>UE</th>
        <th>Enseignant</th>
        <th>Nom du devoir</th>
        <th>Groupe</th>
        <th>Date de rendu</th>
        <th>Statut</th>
        <th>Rendus d'étudiants</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for dat in data %}
        <tr>
            <td>
                {{ dat.devoir.ue }}
            </td>
            <td>
                {{ dat.devoir.user.firstName }} {{ dat.devoir.user.lastName }}
            </td>
            <td>
                {{ dat.devoir.titre }}
            </td>
            <td>
                {% for groupe in dat.groupe %}
                    Groupe {{ groupe.name }}
                {% endfor %}
            </td>
            <td>
                {{ dat.date_rendu|date("d/m/Y H:i") }}
            </td>
            <td>
                {% if dat.date_rendu_file %}
                    <span class="badge success">Rendu le {{ dat.date_rendu_file|date("d/m/Y H:i") }}</span>
                {% else %}
                    Non rendu
                {% endif %}
            </td>
            <td>
                {{ dat.devoir.users_status['users_render'] }}
                / {{ dat.devoir.users_status['users_out']|length + dat.devoir.users_status['users_in']|length }}
            </td>
            <td>
                <a href="{{ path("show_devoir", {'devoir': dat.devoir.id} ) }}">Détails</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>