{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}

{% block title %}Editer un devoir{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{{ asset("vendor/ckeditor/ckeditor.js") }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            CKEDITOR.replace("{{ edit_form.intitule.vars.id }}")
        });

        $("#{{ edit_form.UE.vars.id }}").on("change", function () {
            var groupes = [];
            var groupes_checked = [];
            {% if groupes is defined %}
            {% for groupe in groupes %}
            groupes.push({"groupe": {{ groupe["groupe"].id }}, "date": "{{ groupe["date_a_rendre"] }}"});
            {% endfor %}
            {% endif %}

            $.ajax({
                url: '{{ (path('get_groupe')) }}',
                type: "POST",
                dataType: "html",
                data: {
                    "ue_id": $("#{{ edit_form.UE.vars.id }}").val(),
                    "groupes_checked": groupes
                },
                async: true,
                success: function (data) {
                    $("#bloc_groupes").html("");
                    $("#bloc_groupes").append(data);
                    {% if errors is defined %}
                    $("#bloc_groupes").append("{{ errors.groupes_error }}");
                    {% endif %}
                }
            });
        });

        $("#{{ edit_form.UE.vars.id }}").trigger("change");

        $("#{{ edit_form.extensions.vars.id }}").select2({width: '100%'});

        $("#{{ edit_form.if_groupes.vars.id }}").on("change", function () {
            if ($(this).is(":checked")) {
                $("#bloc_nb_etudiant").show();
            }
            else {
                $("#{{ edit_form.nb_min_etudiant.vars.id }}").val(1);
                $("#{{ edit_form.nb_max_etudiant.vars.id }}").val(1);
                $("#bloc_nb_etudiant").hide();
            }
        });

        $("#{{ edit_form.if_groupes.vars.id }}").trigger("change");

        {% if edit_form.fichier.vars.data.filename is defined %}
        $("#{{ edit_form.conserve_file.vars.id }}").parent().show();
        {% else %}
        $("#{{ edit_form.conserve_file.vars.id }}").prop("checked", false);
        $("#{{ edit_form.conserve_file.vars.id }}").parent().hide();
        {% endif %}


        {% for message in app.flashes('error') %}
        toastr.error("{{ message }}", "Une erreur s'est produite");
        {% endfor %}
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Édition d'un devoir</h1>
            </div>
        </div>

        {{ form_start(edit_form) }}

        <div class="row">
            <div class="col-xs-12">
                <div class="item">
                    <h3>Informations générales du devoir</h3>
                    <div class="form-group">
                        {{ form_row(edit_form.titre) }}
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                {{ form_row(edit_form.if_groupes) }}
                            </label>
                        </div>
                    </div>


                    <div class="form-group" id="bloc_nb_etudiant">
                        <div class="row">
                            <span class="col-md-3 control-label">Configuration des groupes</span>
                            <div class="col-md-9">
                                <div class="form-group row">
                                    <label for="inputValue"
                                           class="col-md-1 control-label">{{ form_label(edit_form.nb_min_etudiant) }}</label>
                                    <div class="col-md-2">
                                        {{ form_widget(edit_form.nb_min_etudiant) }}
                                    </div>
                                    <label for="inputValue"
                                           class="col-md-1 control-label">{{ form_label(edit_form.nb_max_etudiant) }}</label>
                                    <div class="col-md-2">
                                        {{ form_widget(edit_form.nb_max_etudiant) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-left">
                <div class="item">
                    <h3>Groupes d'étudiants concernés et rendus</h3>
                    <div class="form-group">
                        {{ form_row(edit_form.UE) }}
                    </div>

                    <div class="form-group" id="bloc_groupes">

                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                {{ form_row(edit_form.date_bloquante) }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                {{ form_row(edit_form.extensions) }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-7 col-right">
                <div class="item">
                    <h3>Description</h3>
                    <div class="form-group">
                        {{ form_widget(edit_form.intitule) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-left">
                <div class="item">
                    <h3>Consignes et documents</h3>
                    <div>
                        <strong>{{ form_label(edit_form.fichier) }}</strong>
                        {{ form_widget(edit_form.fichier) }}
                    </div>
                    <div>
                        {{ form_row(edit_form.conserve_file) }}
                    </div>
                    {% if edit_form.fichier.vars.data.filename is defined %}
                        <p><strong>Fichier importé : </strong>{{ edit_form.fichier.vars.data.filename }}</p>
                        <p><strong>Sélectionner un fichier pour le remplacer</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_widget(edit_form.save, { 'attr': {'class': 'pull-right'} }) }}
                {{ form_end(edit_form) }}
                {{ form_start(delete_form, { 'attr': {'class': 'pull-right'} }) }}
                <button class="btn pull-right" style="margin-right: 15px" type="submit">Supprimer</button>
                {{ form_end(delete_form) }}
            </div>
        </div>


    </div>

{% endblock %}