{% extends "DepotBundle:Devoir:show.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        {% for message in app.flashes('error') %}
        toastr.error("{{ message }}", "Une erreur s'est produite");
        {% endfor %}
    </script>
{% endblock %}

{% block groupes %}
    <div class="col-xs-12">
        <div class="item">
            <h3>Choisir un groupe de projet</h3>
            <p>Vous n'avez pas encore choisi votre groupe de projet. Veuillez vous positionner dans un groupe ouvert, ou
                en créer un nouveau.<br>
                Ce devoir étant ouvert à {{ groupe_devoir.groupe.users|length }} étudiants en groupes de
                <strong>{{ groupe_devoir.nbMinEtudiant }}</strong> à <strong>{{ groupe_devoir.nbMaxEtudiant }}</strong>,
                de {{ minmax_groups.min }} à {{ minmax_groups.max }} groupes sont ouverts.
            </p>

            <div class="groupesProjet">
                {% set nbgroupes = groupes_projet|length %}
                {% set remaining_groups = minmax_groups.max - nbgroupes %}


                {% for gp in groupes_projet %}
                    <div class="groupe">
                        <h4 class="text-center">Groupe {{ gp.name }}</h4>
                        <ul>
                            {% set in_groupe = false %}
                            {% set leader = false %}
                            {% for ugp in gp.usersgroupesprojets %}
                                {% if ugp.user.username == app.user.username %}
                                    {% set in_groupe = true %}
                                    {% if ugp.leader == 1 %}
                                        {% set leader = true %}
                                    {% endif %}
                                {% endif %}
                                <li>{{ ugp.user.username }}
                                    {% if ugp.status == 0 %}
                                        <i>(en attente d'approbation)</i>
                                        {% if leader %}
                                            <a href="{{ path("accept_groupe_projet",{groupe_projet:gp.id, user_groupe_projet:ugp.id} ) }}"
                                               class="btn btn-primary">Approuver</a>
                                            <a href="{{ path("decline_groupe_projet",{groupe_projet:gp.id, user_groupe_projet:ugp.id} ) }}"
                                               class="btn btn-primary">Décliner</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if u_appartient_groupe == false and gp.usersgroupesprojets|length < groupe_devoir.nbMaxEtudiant and date(groupe_devoir.dateARendre)|date("Y-m-d") >= date()|date("Y-m-d") %}
                            <a href="{{ path("join_groupe_projet", {groupe_projet:gp.id}) }}" class="btn btn-primary">Demander
                                à rejoindre</a>
                        {% elseif (in_groupe == true and leader == false) or (in_groupe == true and leader == true and gp.usersgroupesprojets|length == 1) %}
                            {% if date(groupe_devoir.dateARendre)|date("Y-m-d") >= date()|date("Y-m-d") %}
                                <a href="{{ path("leave_groupe_projet", {groupe_projet:gp.id}) }}"
                                   class="btn btn-primary">Quitter le groupe</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}


                {% if u_appartient_groupe == false and date(groupe_devoir.dateARendre)|date("Y-m-d") >= date()|date("Y-m-d") %}
                    {% if remaining_groups >= 1 %}
                        <div class="groupe">
                            <h4 class="text-center">Nouveau groupe</h4>
                            <a href="{{ path("new_groupe_projet", {devoir:devoir.id}) }}" class="btn btn-primary">Créer
                                un groupe</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block groupechoisi %}
    <div class="item">
        <h3>Votre groupe de projet</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at atque consequatur,
            debitis deserunt dolor doloremque, ipsum obcaecati officia quis repellat veritatis vitae. Eaque
            illum nesciunt pariatur quaerat unde.
        </p>
    </div>
{% endblock %}

{% block daterendus %}
    <div class="item">
        <h3>Rendu</h3>
        <p>25 Mai 2018, 20:00</p>
    </div>
{% endblock %}

{% block rendu %}
    <div class="item">
        <h3>Effectuer votre rendu</h3>
        <p id="dropzone">
            Déposer votre fichier ici
        </p>
    </div>
{% endblock %}