{% extends "DepotBundle:Devoir:show.html.twig" %}

{% block groupes %}
    <div class="col-xs-12">
        <div class="item">
            <h3>Groupes de projet</h3>

            <div class="groupesProjet">
                {% set nbgroupes = groupes_projets|length %}
                {% for gp in groupes_projets %}
                    <div class="groupe">
                        <h4 class="text-center">Groupe {{ gp.name }}</h4>
                        <ul>
                            {% set in_groupe = false %}
                            {% set leader = false %}
                            {% for ugp in gp.usersgroupesprojets %}
                                {% if ugp.user.username == app.user.username %}
                                    {% set in_groupe = true %}
                                    {% if ugp.leader == 1 %}
                                        {% set leader = true %}
                                    {% endif %}
                                {% endif %}
                                <li>{{ ugp.user.username }}
                                    {% if ugp.status == 0 %}
                                        <i>(en attente d'approbation)</i>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block rendus %}
    <div class="item">
        <h3>Rendus</h3>
        <table>
            <thead>
            <tr>
                <th>Groupe</th>
                <th>Date de rendu théorique</th>
                <th>Date de rendu</th>
                <th>Retard</th>
                <th>Archive</th>
            </tr>
            </thead>
            <tbody>
            {% for gp in groupes_projets %}

                <tr>
                    <td>{{ gp.name }}</td>
                    <td>{{ gp.date_theorique|date("d/m/Y - H:m:s") }}</td>
                    <td>
                        {% if gp.date is defined %}
                            {{ gp.date|date("d/m/Y - H:m:s") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if gp.diff is defined %}
                            {{ gp.diff|date("%a jours, %h heures, %i minutes") }}
                        {% endif %}
                    </td>
                    <td>{% if gp.filename is defined %}
                            <a href="{{ path("download_devoir_rendu",{devoir:devoir.id, groupe_projet:gp.id} ) }}">{{ gp.filename }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block actions %}
    <div class="item">
        <h3>Actions</h3>
        <br>
        <a href="{{ path("download_devoirs_rendus",{devoir:devoir.id} ) }}"
           class="btn btn-primary">Télécharger tous les rendus</a>
    </div>
{% endblock %}

