{% extends "DepotBundle:Devoir:show.html.twig" %}

{% block groupes %}
    <div class="col-xs-12">
        <div class="item">
            <h3>Groupes de projet</h3>

            <div class="groupesProjet">
                {% set nbgroupes = groupes_projets|length %}
                {% for gp in groupes_projets %}
                    <div class="groupe">
                        <h4 class="text-center">Groupe {{ gp.name }}</h4>
                        <ul>
                            {% set in_groupe = false %}
                            {% set leader = false %}
                            {% for ugp in gp.usersgroupesprojets %}
                                {% if ugp.user.username == app.user.username %}
                                    {% set in_groupe = true %}
                                    {% if ugp.leader == 1 %}
                                        {% set leader = true %}
                                    {% endif %}
                                {% endif %}
                                <li>{{ ugp.user.username }}
                                    {% if ugp.status == 0 %}
                                        <i>(en attente d'approbation)</i>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block daterendus %}
    <div class="item">
        <h3>Rendus</h3>
        <ul>
            {% for gp in groupes_projets %}
                <li><strong>Groupe {{ gp.name }} :</strong>
                    {% if gp.date is defined %}
                        {{ gp.date|date("d/m/Y - H:m:s") }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block rendus %}
    <div class="item">
        <h3>Liste des rendus</h3>
        {% for gp in groupes_projets %}
            <strong>Groupe {{ gp.name }} :</strong>:
            {% if gp.filename is defined %}
                {# todo mettre link #}
                <a href="#">{{ gp.filename }}</a>
            {% else %}
                Non rendu
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
