{% extends "DepotBundle:Devoir:show.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{{ asset("vendor/dropzone/dropzone.css") }}">
{% endblock %}

{% block groupes %}
    <div class="col-xs-12">
        <div class="item">
            <h3>Choisir un groupe de projet</h3>
            <p>Vous n'avez pas encore choisi votre groupe de projet. Veuillez vous positionner dans un groupe ouvert, ou
                en créer un nouveau.<br>
                Ce devoir étant ouvert à {{ groupe_devoir.groupe.users|length }} étudiants en groupes de
                <strong>{{ groupe_devoir.nbMinEtudiant }}</strong> à <strong>{{ groupe_devoir.nbMaxEtudiant }}</strong>,
                de {{ minmax_groups.min }} à {{ minmax_groups.max }} groupes sont ouverts.
            </p>

            <div class="groupesProjet">
                {% set nbgroupes = groupes_projet|length %}
                {% set remaining_groups = minmax_groups.max - nbgroupes %}

                {% for gp in groupes_projet %}
                    <div class="groupe">
                        <h4 class="text-center">Groupe {{ gp.name }}</h4>
                        <ul>
                            {% set in_groupe = false %}
                            {% set leader = false %}
                            {% for ugp in gp.usersgroupesprojets %}
                                {% if ugp.user.username == app.user.username %}
                                    {% set in_groupe = true %}
                                    {% if ugp.leader == 1 %}
                                        {% set leader = true %}
                                    {% endif %}
                                {% endif %}
                                <li>{{ ugp.user.username }}
                                    {% if ugp.status == 0 %}
                                        <i>(en attente d'approbation)</i>
                                        {% if leader %}
                                            <a href="{{ path("accept_groupe_projet",{groupe_projet:gp.id, user_groupe_projet:ugp.id} ) }}"
                                               class="btn btn-primary">Approuver</a>
                                            <a href="{{ path("decline_groupe_projet",{groupe_projet:gp.id, user_groupe_projet:ugp.id} ) }}"
                                               class="btn btn-primary">Décliner</a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if u_appartient_groupe == false and gp.usersgroupesprojets|length < groupe_devoir.nbMaxEtudiant and date(groupe_devoir.dateARendre)|date_modify("+7 day")  >= "now" %}
                            <a href="{{ path("join_groupe_projet", {groupe_projet:gp.id}) }}" class="btn btn-primary">Demander
                                à rejoindre</a>
                        {% elseif (in_groupe == true and leader == false) or (in_groupe == true and leader == true and gp.usersgroupesprojets|length == 1) %}
                            {% if date(groupe_devoir.dateARendre)|date_modify("+7 day") >= "now" %}
                                <a href="{{ path("leave_groupe_projet", {groupe_projet:gp.id}) }}"
                                   class="btn btn-primary">Quitter le groupe</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% if u_appartient_groupe == false and date(groupe_devoir.dateARendre)|date_modify("+7 day") >= "now" %}
                    {% if remaining_groups >= 1 %}
                        <div class="groupe">
                            <h4 class="text-center">Nouveau groupe</h4>
                            <a href="{{ path("new_groupe_projet", {groupe: groupe.id, devoir:devoir.id}) }}"
                               class="btn btn-primary">Créer
                                un groupe</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            <div>
                Etudiant qui ont choisi leurs groupes de projet :
                {{ users_in|length }}
                {% if users_in|length > 0 %}
                    <summary>
                        <details>
                            {% for user_in in users_in %} {{ user_in.firstname }} {{ user_in.lastname }} {% if user_in.firstname == '' %} {{ user_in.username }} {% endif %} {% if not loop.last %},{% endif %}{% endfor %}
                        </details>
                    </summary>
                {% endif %}
                <br>
                Etudiant qui n'ont pas choisi leur groupe de projet
                :
                {{ users_out|length }}
                {% if users_out|length > 0 %}
                    <summary>
                        <details>
                            {% for user_out in users_out %} {{ user_out.firstname }} {{ user_out.lastname }} {% if user_out.firstname == '' %} {{ user_out.username }} {% endif %} {% if not loop.last %},{% endif %}{% endfor %}
                        </details>
                    </summary>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block groupechoisi %}
    <div class="item">
        <h3>Votre groupe de projet</h3>
        <p>
            {#todo écrire quoi ?#}
        </p>
    </div>
{% endblock %}

{% block daterendus %}
    <div class="item">
        <h3>Dates théoriques de rendu</h3>
        <p>
            {% if u_groupe_projet %}
                {% if date(u_groupe_projet.groupedevoir.datearendre) < date() %}
                    {% set colorDate = 'red' %}
                {% else %}
                    {% set colorDate = 'black' %}
                {% endif %}
                <span style="color:{{ colorDate }}">
            {{ date(groupe_devoir.datearendre)|date("d/m/Y - H:m:s") }}
            </span>
            {% else %}
                {% for  gpd in devoir.groupedevoir %}
                    {% for gp in app.user.groupes %}
                        {% if gpd.groupe.id ==  gp.id %}
                            <span>
                        Groupe {{ gpd.groupe.name }}
                                <br>
                        Date de rendu : {{ gpd.datearendre|date("d/m/Y - H:m:s") }}
                    </span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </p>
    </div>
    {% if fichier_rendu  and date_rendu %}
        <div class="item">
            <h3>Rendu</h3>
            <p>
                <a href="{{ path("download_devoir_rendu",{devoir:devoir.id, groupe_projet:u_groupe_projet.id} ) }}">{{ fichier_rendu }}</a>
            </p>
            <p>
                {{ date(date_rendu)|date("d/m/Y - H:m:s") }}
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block rendu %}
    <div class="item">
        <h3>Effectuer votre rendu</h3>
        <p>
            {% set in_groupe = false %}
            {% set approbation = false %}
            {% for gp in groupes_projet %}
                {% for ugp in gp.usersgroupesprojets %}
                    {% if ugp.user.username == app.user.username %}
                        {% set in_groupe = true %}
                        {% if ugp.status == 1 %}
                            {% set approbation = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if date(groupe_devoir.datearendre)|date_modify("+7 day") < "now" %}
            Vous ne pouvez plus déposer de rendu
            {% elseif not in_groupe or not approbation %}
                Vous n'avez pas rejoint de groupe ou vous n'avez pas obtenu l'approbation du chef de groupe
            {% else %}
        <form class="dropzone" id="depot-devoir"></form>
        {% endif %}
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        {% for message in app.flashes('error') %}
        toastr.error("{{ message }}", "Une erreur s'est produite");
        {% endfor %}
    </script>
    <script src="{{ asset("vendor/dropzone/dropzone.js") }}"></script>
    <script>
        var drop = new Dropzone("#depot-devoir",
            {
                url: "{{ path('depot_devoir', {devoir: devoir.id}) }}",
                maxFiles: 1,
            }
        );
    </script>
{% endblock %}
